@charset "UTF-8";
:root {
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --cyan: hsl(180, 66%, 49%);
  --light-cyan: hsl(180, 56%, 75%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --light-gray: #eeeff5;
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --text-color: var(--grayish-violet);
  --accent-color: var(--cyan);
  --base-font-size: 18px;
  --small-font-size: 16.2px;
  --line-height: 1.6em;
  --body-font-family: "Poppins", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.3rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.2rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
  --small-border-radius: 0.3rem;
}

@media screen and (min-width: 800px) {
  :root {
    --h1-font-size: 4rem;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}
@media screen and (min-width: 800px) {
  html {
    /* mixin mq */
    font-size: 20px;
    /* end mixin mq */
  }
}

body {
  /* @mixin antialias */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* end @mixin antialias */
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.6em;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: #fff;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: var(--very-dark-violet);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.1em;
}
@media screen and (min-width: 800px) {
  h1 {
    /* mixin mq */
    letter-spacing: -0.1rem;
    /* end mixin mq */
  }
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  color: var(--light-cyan);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type=submit] {
  cursor: pointer;
}

input {
  padding: 1rem;
  height: 2.6666666667rem;
  border-radius: var(--small-border-radius);
  border: none;
  font-size: var(--small-font-size);
}
input::placeholder {
  color: var(--grayish-violet);
}

button {
  font-weight: 700;
  border: none;
}

.button, .button-rectangle, .button-pill {
  padding: 1rem 2.6rem;
}
@media screen and (min-width: 800px) {
  .button, .button-rectangle, .button-pill {
    /* mixin mq */
    padding: 0.8rem 2rem;
    /* end mixin mq */
  }
}

.invisible-button {
  background-color: transparent;
}

.button--small {
  padding: 0.5rem 1rem;
  font-size: 16.2px;
}

.button-pill {
  border-radius: 100px;
}

.button-rectangle {
  border-radius: var(--small-border-radius);
}

.button-cyan {
  color: white;
  background: var(--cyan);
}
.button-cyan:hover {
  background: var(--light-cyan);
}

.nav a {
  font-weight: 700;
}
.nav a:hover {
  color: var(--very-dark-violet);
}
@media screen and (max-width: 799px) {
  .nav a {
    /* mixin mq */
    color: white;
    /* end mixin mq */
  }
  .nav a:hover {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 800px) {
  .nav a {
    /* mixin mq */
    color: var(--grayish-violet);
    font-size: 0.75rem;
    /* end mixin mq */
  }
}
@media screen and (max-width: 799px) {
  .nav a + a {
    /* mixin mq */
    margin-top: 1.3rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .nav a + a {
    /* mixin mq */
    margin-left: 1.3rem;
    /* end mixin mq */
  }
}

.api__form {
  padding: 1.2rem;
  background-color: var(--dark-violet);
  background-image: url(../images/bg-shorten-mobile.svg);
  background-size: 80% 80%;
  border-radius: 0.5rem;
  transform: translateY(-50%);
}
@media screen and (min-width: 800px) {
  .api__form {
    /* mixin mq */
    background-size: cover;
    background-image: url(../images/bg-shorten-desktop.svg);
    display: flex;
    padding: 2.8rem 3.2rem;
    /* end mixin mq */
  }
}

.api__input,
.api__button {
  height: 2.7rem;
  line-height: 2.7rem;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 799px) {
  .api__input,
.api__button {
    /* mixin mq */
    display: block;
    width: 100%;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .api__input,
.api__button {
    /* mixin mq */
    height: 3.3333333333rem;
    /* end mixin mq */
  }
}

.api__input {
  width: 100%;
}
@media screen and (min-width: 800px) {
  .api__input {
    /* mixin mq */
    flex: 0 1 100%;
    /* end mixin mq */
  }
}

@media screen and (max-width: 799px) {
  .api__button {
    /* mixin mq */
    margin-top: 1rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .api__button {
    /* mixin mq */
    flex: 1 0 auto;
    margin-left: 1.5rem;
    /* end mixin mq */
  }
}

.page-container {
  width: 330px;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .page-container {
    /* mixin mq */
    width: 1110px;
    /* end mixin mq */
  }
}

.gray-container {
  background-color: var(--light-gray);
}

.header {
  padding: 2.2rem 0 1.7rem;
  display: flex;
  position: relative;
}
@media screen and (min-width: 800px) {
  .header {
    /* mixin mq */
    padding: 2.7rem 0 0.9rem;
    /* end mixin mq */
  }
}

.header__logo {
  width: 8rem;
}
@media screen and (max-width: 799px) {
  .header__logo {
    /* mixin mq */
    width: 10rem;
    /* end mixin mq */
  }
}

.header__menu {
  display: flex;
  flex-basis: 100%;
}
@media screen and (max-width: 799px) {
  .header__menu {
    /* mixin mq */
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--dark-violet);
    border-radius: 0.8rem;
    padding: 2.5rem 1.5rem;
    width: 100%;
    flex-direction: column;
    text-align: center;
    /* end mixin mq */
  }
  .header__menu.active {
    display: flex;
  }
  .header__menu a {
    width: 100%;
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .header__menu {
    /* mixin mq */
    margin-left: 1.5rem;
    /* end mixin mq */
  }
}

.header__nav {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 799px) {
  .header__nav {
    /* mixin mq */
    border-bottom: 1px solid #6a6675;
    /* end mixin mq */
  }
}

@media screen and (max-width: 799px) {
  .header__login-container {
    /* mixin mq */
    /* end mixin mq */
  }
  .header__login-container button {
    display: block;
    width: 100%;
    padding: 1.2rem 1rem;
    font-size: 1rem;
    color: white;
  }
}
@media screen and (min-width: 800px) {
  .header__login-container {
    /* mixin mq */
    margin-left: auto;
    /* end mixin mq */
  }
}

@media screen and (max-width: 799px) {
  .header__login-button {
    /* mixin mq */
    /* end mixin mq */
  }
  .header__login-button:hover {
    color: var(--accent-color);
  }
}

.header__menu-button {
  margin-left: auto;
  font-size: 2rem;
  color: var(--grayish-violet);
}
@media screen and (max-width: 799px) {
  .header__menu-button {
    /* mixin mq */
    display: block;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .header__menu-button {
    /* mixin mq */
    display: none;
    /* end mixin mq */
  }
}

.hero {
  padding-bottom: 9.2rem;
}
@media screen and (min-width: 800px) {
  .hero {
    /* mixin mq */
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 11rem;
    /* end mixin mq */
  }
}

.hero__image-container {
  position: relative;
}

.hero__image {
  transform: scale(1.5) translateX(3rem) translateY(2rem);
}
@media screen and (min-width: 800px) {
  .hero__image {
    /* mixin mq */
    left: 0;
    transform: scale(1.5) translateX(6rem) translateY(3rem);
    /* end mixin mq */
  }
}

.hero__text-container {
  margin-top: 7.5rem;
}
@media screen and (max-width: 799px) {
  .hero__text-container {
    /* mixin mq */
    text-align: center;
    /* end mixin mq */
  }
}
@media screen and (min-width: 800px) {
  .hero__text-container {
    /* mixin mq */
    flex: 1 0 30rem;
    margin-top: 4rem;
    width: 30rem;
    /* end mixin mq */
  }
}

.hero__title {
  margin-top: 0;
}
@media screen and (min-width: 800px) {
  .hero__title {
    /* mixin mq */
    margin-bottom: 0.2rem;
    /* end mixin mq */
  }
}

.hero__subtitle {
  margin-bottom: 1.8rem;
}
@media screen and (min-width: 800px) {
  .hero__subtitle {
    /* mixin mq */
    line-height: 1.6em;
    font-size: 1.1rem;
    width: 40ch;
    /* end mixin mq */
  }
}

/*# sourceMappingURL=main.css.map */
