@charset "UTF-8";
:root {
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);
  --cyan: hsl(180, 66%, 49%);
  --light-cyan: hsl(180, 56%, 75%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --light-gray: #eeeff5;
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --text-color: var(--grayish-violet);
  --accent-color: var(--cyan);
  --headings-color: var(--very-dark-violet);
  --base-font-size: 18px;
  --small-font-size: 16.2px;
  --line-height: 1.6em;
  --body-font-family: "Poppins", sans-serif;
  --headings-font-family: var(--body-font-family);
  --h1-font-size: 2.3rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.2rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
  --small-border-radius: 0.3rem;
}
:root .dark-theme {
  --text-color: white;
  --headings-color: white;
}

@media screen and (min-width: 1036px) {
  :root {
    --h1-font-size: 4rem;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}
@media screen and (min-width: 1036px) {
  html {
    /* mixin mq */
    font-size: 20px;
    /* end mixin mq */
  }
}

body {
  /* @mixin antialias */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* end @mixin antialias */
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.6em;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: #fff;
}

::-moz-selection {
  background-color: var(--cyan);
  color: white;
}

::selection {
  background-color: var(--cyan);
  color: white;
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: var(--headings-color);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.1em;
}
@media screen and (min-width: 1036px) {
  h1 {
    /* mixin mq */
    letter-spacing: -0.1rem;
    /* end mixin mq */
  }
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  color: var(--light-cyan);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

thead {
  font-weight: bold;
  background: var(--grey300);
}
thead th {
  border-color: var(--grey500);
}

td,
th {
  padding: 0.5rem;
}

/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type=submit] {
  cursor: pointer;
}

input {
  padding: 1rem;
  height: 2.6666666667rem;
  border-radius: var(--small-border-radius);
  border: none;
  font-size: var(--small-font-size);
}
input::-moz-placeholder {
  color: var(--grayish-violet);
}
input:-ms-input-placeholder {
  color: var(--grayish-violet);
}
input::placeholder {
  color: var(--grayish-violet);
}

button {
  font-weight: 700;
  border: none;
}

.button, .button-rectangle, .button-pill {
  padding: 1rem 2.6rem;
}
@media screen and (min-width: 1036px) {
  .button, .button-rectangle, .button-pill {
    /* mixin mq */
    padding: 0.8rem 2rem;
    /* end mixin mq */
  }
}

.invisible-button {
  background-color: transparent;
}

.button--small {
  padding: 0.5rem 1rem;
  font-size: 16.2px;
}

.button-pill {
  border-radius: 100px;
}

.button-rectangle {
  border-radius: var(--small-border-radius);
}

.button-cyan {
  color: white;
  background: var(--cyan);
}
.button-cyan:hover {
  background: var(--light-cyan);
}

.button-red {
  background: var(--red);
  color: white;
}
.button-red:hover {
  background: var(--light-cyan);
}

.nav a {
  font-weight: 700;
}
.nav a:hover {
  color: var(--very-dark-violet);
}
@media screen and (max-width: 1035px) {
  .nav a {
    /* mixin mq */
    color: white;
    /* end mixin mq */
  }
  .nav a:hover {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1036px) {
  .nav a {
    /* mixin mq */
    color: var(--grayish-violet);
    font-size: 0.75rem;
    /* end mixin mq */
  }
}
@media screen and (max-width: 1035px) {
  .nav a + a {
    /* mixin mq */
    margin-top: 1.3rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1036px) {
  .nav a + a {
    /* mixin mq */
    margin-left: 1.3rem;
    /* end mixin mq */
  }
}

.api {
  transform: translateY(-79px);
}
@media screen and (min-width: 1036px) {
  .api {
    /* mixin mq */
    transform: translateY(-83.3px);
    /* end mixin mq */
  }
}

.api__form {
  position: relative;
  padding: 1.2rem;
  background-color: var(--dark-violet);
  background-image: url(../images/bg-shorten-mobile.svg);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1036px) {
  .api__form {
    /* mixin mq */
    background-size: cover;
    background-image: url(../images/bg-shorten-desktop.svg);
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 3.2rem;
    /* end mixin mq */
  }
}

.api__input,
.api__button {
  height: 2.7rem;
  line-height: 2.7rem;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 1035px) {
  .api__input,
.api__button {
    /* mixin mq */
    display: block;
    width: 100%;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1036px) {
  .api__input,
.api__button {
    /* mixin mq */
    height: 3.3333333333rem;
    /* end mixin mq */
  }
}

.api__input {
  width: 100%;
}
@media screen and (min-width: 1036px) {
  .api__input {
    /* mixin mq */
    flex: 1 0 50%;
    /* end mixin mq */
  }
}

@media screen and (max-width: 1035px) {
  .api__button {
    /* mixin mq */
    margin-top: 1rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1036px) {
  .api__button {
    /* mixin mq */
    margin-left: 1.5rem;
    /* end mixin mq */
  }
}

.api__error-message {
  font-size: 0.75rem;
  color: var(--red);
  font-style: italic;
}
@media screen and (min-width: 1036px) {
  .api__error-message {
    /* mixin mq */
    width: 100%;
    /* end mixin mq */
  }
}

.api-links-container {
  list-style: none;
}
.api-links-container li + li {
  margin-top: 1rem;
}

@media screen and (max-width: 1035px) {
  .api__link {
    /* mixin mq */
    position: relative;
    /* end mixin mq */
  }
}

@media screen and (max-width: 1035px) {
  .api__link__url-container,
.api__link__link-container,
.api__link_button {
    /* mixin mq */
    font-size: var(--small-font-size);
    /* end mixin mq */
  }
}

.api__link__url-container,
.api__link__link-container,
.api__link_button-container {
  padding: 0.5rem 1rem;
  width: 100%;
}
@media screen and (min-width: 1036px) {
  .api__link__url-container,
.api__link__link-container,
.api__link_button-container {
    /* mixin mq */
    padding: 1rem 1.5rem;
    /* end mixin mq */
  }
}

.api__link__url {
  color: var(--very-dark-violet);
}

.api__link__url-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1036px) {
  .api__link__url-container {
    /* mixin mq */
    flex: 0 1 auto;
    /* end mixin mq */
  }
}
@media screen and (max-width: 1035px) {
  .api__link__url-container {
    /* mixin mq */
    border-bottom: 1px solid #e1e1e1;
    /* end mixin mq */
  }
}

.api__link__link-container {
  margin-left: auto;
}

@media screen and (max-width: 1035px) {
  .api__link__delete-button-container,
.api__link__copy-button-container {
    /* mixin mq */
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1036px) {
  .api__link__delete-button-container,
.api__link__copy-button-container {
    /* mixin mq */
    flex: 1 0 auto;
    margin: 0 1rem;
    /* end mixin mq */
  }
}

@media screen and (min-width: 1036px) {
  .api__link__delete-button-container {
    /* mixin mq */
    margin: 0 1rem 0 0rem;
    /* end mixin mq */
  }
}
@media screen and (max-width: 1035px) {
  .api__link__delete-button-container {
    /* mixin mq */
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    /* end mixin mq */
  }
}

.api__link__delete-button,
.api__link__copy-button {
  width: 100%;
  font-size: var(--small-font-size);
}
@media screen and (min-width: 1036px) {
  .api__link__delete-button,
.api__link__copy-button {
    /* mixin mq */
    width: 5rem;
    /* end mixin mq */
  }
}

.api__link__copy-button.active {
  background: var(--dark-violet);
}

.api__link__delete-button {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  font-size: 2rem;
  color: var(--grayish-violet);
}
.api__link__delete-button:hover {
  color: var(--very-dark-violet);
}
@media screen and (max-width: 1035px) {
  .api__link__delete-button {
    /* mixin mq */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /* end mixin mq */
  }
}

@media screen and (min-width: 1036px) {
  .api__link__link-container {
    /* mixin mq */
    width: auto;
    margin-left: auto;
    /* end mixin mq */
  }
}

input.error {
  outline: 3px solid var(--red);
}

:root {
  --icon-card-x: 3rem;
}

.feature-cards-container {
  margin-top: 5rem;
  padding-bottom: 3rem;
  position: relative;
}
.feature-cards-container:before {
  content: "";
  width: 0.5rem;
  height: 80%;
  position: absolute;
  top: 10%;
  left: calc(50% - 0.25rem);
  background-color: var(--cyan);
}
@media screen and (min-width: 1036px) {
  .feature-cards-container:before {
    /* mixin mq */
    width: 80%;
    left: 10%;
    top: 45%;
    height: 0.4rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1036px) {
  .feature-cards-container {
    /* mixin mq */
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 5.5rem;
    /* end mixin mq */
  }
}

.feature-card {
  position: relative;
  padding: var(--icon-card-x) 1.5rem 2rem;
  background-color: white;
  border-radius: var(--small-border-radius);
  margin-top: calc(var(--icon-card-x));
}
@media screen and (max-width: 1035px) {
  .feature-card + .feature-card {
    /* mixin mq */
    margin-top: calc(var(--icon-card-x) + 2.5rem);
    /* end mixin mq */
  }
}
@media screen and (min-width: 1036px) {
  .feature-card {
    /* mixin mq */
    align-self: center;
    /* end mixin mq */
  }
  .feature-card:first-of-type {
    align-self: flex-start;
    margin-bottom: 4rem;
  }
  .feature-card:last-of-type {
    align-self: flex-end;
    margin-top: 4rem;
  }
}

.feature-card__icon-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(calc(var(--icon-card-x) * -1 - 50%));
  display: flex;
  align-items: center;
  justify-content: center;
  /* @mixin circle */
  border-radius: 1000px;
  width: 5rem;
  height: 5rem;
  /* end @mixin circle */
  background-color: var(--dark-violet);
}
@media screen and (min-width: 1036px) {
  .feature-card__icon-container {
    /* mixin mq */
    left: 0rem;
    top: 0;
    transform: translateX(1.5rem) translateY(-50%);
    /* @mixin circle */
    border-radius: 1000px;
    width: 4.5rem;
    height: 4.5rem;
    /* end @mixin circle */
    /* end mixin mq */
  }
}

.feature-card__title {
  margin-bottom: 1rem;
}

.feature-card__text {
  font-size: var(--small-font-size);
  line-height: 1.6em;
}

.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 1036px) {
  .page-container {
    /* mixin mq */
    max-width: 1110px;
    /* end mixin mq */
  }
}

.gray-container {
  background-color: var(--light-gray);
}

.basic-box, .box-link {
  border-radius: var(--small-border-radius);
  background: white;
}

.box-link {
  display: flex;
  align-content: center;
  align-items: center;
}
@media screen and (max-width: 1035px) {
  .box-link {
    /* mixin mq */
    flex-direction: column;
    /* end mixin mq */
  }
}

@media screen and (max-width: 1035px) {
  .box-link__title-container {
    /* mixin mq */
    border-bottom: 1px solid #e1e1e1;
    /* end mixin mq */
  }
}

.header {
  padding: 2.2rem 0 1.7rem;
  display: flex;
  position: relative;
}
@media screen and (min-width: 1036px) {
  .header {
    /* mixin mq */
    padding: 2.7rem 0 0.9rem;
    /* end mixin mq */
  }
}

.header__logo {
  width: 8rem;
}
@media screen and (max-width: 1035px) {
  .header__logo {
    /* mixin mq */
    width: 10rem;
    /* end mixin mq */
  }
}

.header__menu {
  display: flex;
  flex-basis: 100%;
}
@media screen and (max-width: 1035px) {
  .header__menu {
    /* mixin mq */
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--dark-violet);
    border-radius: 0.8rem;
    padding: 2.5rem 1.5rem;
    width: 100%;
    flex-direction: column;
    text-align: center;
    /* end mixin mq */
  }
  .header__menu.active {
    display: flex;
  }
  .header__menu a {
    width: 100%;
    display: block;
  }
}
@media screen and (min-width: 1036px) {
  .header__menu {
    /* mixin mq */
    margin-left: 1.5rem;
    /* end mixin mq */
  }
}

.header__nav {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1035px) {
  .header__nav {
    /* mixin mq */
    border-bottom: 1px solid #6a6675;
    /* end mixin mq */
  }
}

@media screen and (min-width: 1036px) {
  /* mixin mq */
  .header__login-container {
    margin-left: auto;
  }

  /* end mixin mq */
}
@media screen and (max-width: 1035px) {
  /* mixin mq */
  .header__login-container button {
    display: block;
    width: 100%;
    padding: 1.2rem 1rem;
    font-size: 1rem;
    color: white;
  }

  /* end mixin mq */
}
@media screen and (max-width: 1035px) {
  .header__login-button:hover {
    /* mixin mq */
    color: var(--accent-color);
    /* end mixin mq */
  }
}

.header__menu-button {
  margin-left: auto;
  font-size: 2rem;
  color: var(--grayish-violet);
}
@media screen and (max-width: 1035px) {
  .header__menu-button {
    /* mixin mq */
    display: block;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1036px) {
  .header__menu-button {
    /* mixin mq */
    display: none;
    /* end mixin mq */
  }
}

.hero {
  padding-bottom: 9.2rem;
}
@media screen and (min-width: 1036px) {
  .hero {
    /* mixin mq */
    padding-bottom: 11rem;
    margin-right: auto;
    /* end mixin mq */
  }
}

.hero-full-container {
  background-image: url(../images/illustration-working.svg);
  background-repeat: no-repeat;
  background-position: right -80px top;
  background-size: 500px;
}
@media screen and (min-width: 1036px) {
  .hero-full-container {
    /* mixin mq */
    background-size: 35.5rem;
    background-position: right -110px top 0.5rem;
    /* end mixin mq */
  }
}
@media screen and (max-width: 339px) {
  .hero-full-container {
    /* mixin mq */
    background-position: right -180px top;
    /* end mixin mq */
  }
}
@media screen and (min-width: 700px) and (max-width: 1035px) {
  .hero-full-container {
    /* mixin mq */
    background-size: 700px;
    /* end mixin mq */
  }
}

.hero__text-container {
  padding-top: 20rem;
}
@media screen and (max-width: 1035px) {
  .hero__text-container {
    /* mixin mq */
    text-align: center;
    /* end mixin mq */
  }
}
@media screen and (min-width: 1036px) {
  .hero__text-container {
    /* mixin mq */
    width: 30rem;
    padding-top: 4rem;
    /* end mixin mq */
  }
}
@media screen and (min-width: 700px) and (max-width: 1035px) {
  .hero__text-container {
    /* mixin mq */
    padding-top: 30rem;
    /* end mixin mq */
  }
}

.hero__title {
  margin-top: 0;
}
@media screen and (min-width: 1036px) {
  .hero__title {
    /* mixin mq */
    margin-bottom: 0.2rem;
    /* end mixin mq */
  }
}

.hero__subtitle {
  margin-bottom: 1.8rem;
}
@media screen and (min-width: 1036px) {
  .hero__subtitle {
    /* mixin mq */
    line-height: 1.6em;
    font-size: 1.1rem;
    width: 40ch;
    /* end mixin mq */
  }
}

@media screen and (max-width: 1035px) {
  .features-container {
    /* mixin mq */
    text-align: center;
    /* end mixin mq */
  }
}

.features__title,
.features__subtitle {
  text-align: center;
}

.features__title {
  margin-bottom: 0.4em;
}
@media screen and (min-width: 1036px) {
  .features__title {
    /* mixin mq */
    font-size: 2.1rem;
    letter-spacing: -0.05em;
    /* end mixin mq */
  }
}

.features__subtitle {
  max-width: 48ch;
  margin: 0 auto;
  font-size: var(--small-font-size);
}
@media screen and (min-width: 1036px) {
  .features__subtitle {
    /* mixin mq */
    font-size: 0.9em;
    /* end mixin mq */
  }
}

.get-started-container {
  background: var(--dark-violet) url(../../images/bg-boost-mobile.svg) 0 0 no-repeat;
  background-size: contain;
  text-align: center;
  padding: 5.5rem 0 5rem;
}
@media screen and (min-width: 1036px) {
  .get-started-container {
    /* mixin mq */
    background: var(--dark-violet) url(../../images/bg-boost-desktop.svg) 0 0 no-repeat;
    background-size: cover;
    padding: 3.3rem 0;
    /* end mixin mq */
  }
}

.get-started__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 1036px) {
  .get-started__title {
    /* mixin mq */
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
    /* end mixin mq */
  }
}

/* =================================== § DESKTOP GRID === */
@media screen and (min-width: 1036px) {
  /* mixin mq */
  .footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .footer__logo {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .footer__menu {
    grid-column-start: 5;
    grid-column-end: 10;
    display: flex;
    justify-content: space-between;
  }

  .footer__social {
    grid-column-start: 11;
    grid-column-end: 13;
  }

  /* end mixin mq */
}
/* =================================== § OTHER STYLES === */
.footer-container {
  padding: 3rem 0;
  background-color: var(--very-dark-violet);
  font-size: 0.85rem;
}
@media screen and (max-width: 1035px) {
  .footer-container {
    /* mixin mq */
    text-align: center;
    /* end mixin mq */
  }
}

.footer__logo {
  filter: invert(1) brightness(2);
  margin-bottom: 2rem;
}

.footer__menu {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1035px) {
  .footer__menu-column + .footer__menu-column {
    /* mixin mq */
    margin-top: 1.5rem;
    /* end mixin mq */
  }
}

.footer__menu__title {
  margin-bottom: 1rem;
  color: white;
}

.footer__menu__list-element a {
  color: var(--grayish-violet);
}
.footer__menu__list-element a:hover {
  color: var(--cyan);
}

.footer__menu__list-element + .footer__menu__list-element {
  line-height: 2.3em;
}

@media screen and (min-width: 1036px) {
  .footer__social {
    /* mixin mq */
    text-align: right;
    /* end mixin mq */
  }
}
.footer__social a {
  font-size: 1.7rem;
  color: white;
}
.footer__social a:hover {
  color: var(--cyan);
}
.footer__social a + a {
  margin-left: 1rem;
}
@media screen and (min-width: 1036px) {
  .footer__social a + a {
    /* mixin mq */
    margin-left: 0.2rem;
    /* end mixin mq */
  }
}

/*# sourceMappingURL=mainDist.css.map */