@use "../index.scss" as *;

.page-container {
  width: 330px;
  margin: 0 auto;

  @include mq($desktop-width, up) {
    width: 1110px;
  }
}

.gray-container {
  background-color: var(--light-gray);
}

.basic-box {
  border-radius: 3px;
  background: white;
}

.box-link {
  @extend .basic-box;
}
