@use "../index.scss" as *;

.page-container {
  width: 330px;
  margin: 0 auto;

  @include mq($desktop-width, up) {
    width: 1110px;
  }
}

.gray-container {
  background-color: var(--light-gray);
}

.basic-box {
  border-radius: var(--small-border-radius);
  background: white;
}

.box-link {
  @extend .basic-box;
  display: flex;
  align-content: center;
  align-items: center;
  // TODO: translate form quando c'è il messaggio di errore su mobile

  @include mq($desktop-width, down) {
    flex-direction: column;
  }
}

.box-link__title-container {
  @include mq($desktop-width, down) {
    border-bottom: 1px solid #e1e1e1;
  }
}
