@use "../index.scss" as *;

.hero {
  padding-bottom: 9.2rem;

  @include mq($desktop-width, up) {
    padding-bottom: 11rem;
    margin-right: auto;
  }
}

.hero-full-container {
  background-image: url(../images/illustration-working.svg);
  background-repeat: no-repeat;
  background-position: right -80px top;
  background-size: 100%;

  @include mq($desktop-width, up) {
    background-size: 35.5rem;
    background-position: right -110px top 0.5rem;
  }
}

.hero__text-container {
  padding-top: 20rem;

  @include mq($desktop-width, down) {
    text-align: center;
  }
  @include mq($desktop-width, up) {
    width: 30rem;
    padding-top: 4rem;
  }
}

.hero__title {
  margin-top: 0;

  @include mq($desktop-width, up) {
    margin-bottom: 0.2rem;
  }
}

.hero__subtitle {
  margin-bottom: 1.8rem;
  @include mq($desktop-width, up) {
    line-height: 1.6em;
    font-size: 1.1rem;
    width: 40ch;
  }
}
