@use "../index.scss" as *;

.hero {
  @include mq($desktop-width, up) {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 5rem;
  }
}

.hero__image-container {
  position: relative;
}

.hero__image {
  transform: scale(1.5) translateX(3rem) translateY(2rem);
  @include mq($desktop-width, up) {
    left: 0;
    transform: scale(1.5) translateX(6rem) translateY(3rem);
  }
}
.hero__text-container {
  margin-top: 7.5rem;
  @include mq($desktop-width, down) {
    text-align: center;
  }
  @include mq($desktop-width, up) {
    flex: 1 0 30rem;
    margin-top: 4rem;
    width: 30rem;
  }
}

.hero__title {
  margin-top: 0;

  @include mq($desktop-width, up) {
    margin-bottom: 0.2rem;
  }
}

.hero__subtitle {
  margin-bottom: 1.8rem;
  @include mq($desktop-width, up) {
    line-height: 1.6em;
    font-size: 1.1rem;
    width: 40ch;
  }
}
