@use "../index.scss" as *;

.api {
  transform: translateY(calc(-158px / 2));

  @include mq($desktop-width, up) {
    transform: translateY(calc(-166.6px / 2));
  }
}

.api__form {
  position: relative;
  padding: 1.2rem;
  background-color: var(--dark-violet);
  background-image: url(../images/bg-shorten-mobile.svg);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  @include mq($desktop-width, up) {
    background-size: cover;
    background-image: url(../images/bg-shorten-desktop.svg);
    display: flex;
    padding: 2.5rem 3.2rem;
  }
}

.api__input,
.api__button {
  height: 2.7rem;
  line-height: 2.7rem;
  padding-top: 0;
  padding-bottom: 0;
  @include mq($desktop-width, down) {
    display: block;
    width: 100%;
  }
  @include mq($desktop-width, up) {
    height: pxToRem(60px);
  }
}

.api__input {
  width: 100%;
  @include mq($desktop-width, up) {
    flex: 0 1 100%;
  }
}

.api__button {
  @include mq($desktop-width, down) {
    margin-top: 1rem;
  }
  @include mq($desktop-width, up) {
    flex: 1 0 auto;
    margin-left: 1.5rem;
  }
}

.api__error-message {
  font-size: 0.75rem;
  color: var(--red);
  font-style: italic;

  @include mq($desktop-width, up) {
    position: absolute;
    bottom: 0.8rem;
  }
}

.api-links-container {
  list-style: none;

  li + li {
    margin-top: 1rem;
  }
}

.api__link__link-container {
  @include mq($desktop-width, up) {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.api__link__url {
  color: var(--very-dark-violet);
}

.api__link__button {
  width: 100%;
  display: block;

  @include mq($desktop-width, up) {
    width: 5rem;
  }

  &.active {
    background: var(--dark-violet);
  }
}
