@use "../index.scss" as *;

.button {
  padding: 1rem 2.6rem;
  @include mq($desktop-width, up) {
    padding: 0.8rem 2rem;
  }
}

.invisible-button {
  background-color: transparent;
}

.button--small {
  padding: 0.5rem 1rem;
  font-size: $small-font-size;
}

.button-pill {
  @extend .button;
  border-radius: 100px;
}

.button-rectangle {
  @extend .button;
  border-radius: var(--small-border-radius);
}

.button-cyan {
  color: white;
  background: var(--cyan);

  &:hover {
    background: var(--light-cyan);
  }
}
